{% extends 'layout.html' %}
{% load static %}
{% block title %}Аккаунт{% endblock %}

{% block content %}
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-lg-5 col-12">
            <div class="row container-wrapper">
                <div class="col container-bg profile-bg">
                    {% if user.avatar %}
                    <img class="profile-img"
                        src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png" alt="User">
                    {% else%}
                    <img class="profile-img" src="{% static 'img/no-avatar.jpg'%}" alt="User">
                    {% endif %}
                    <div class="profile-info">
                        {% if user.nickname and user.is_active %}
                        <div class="profile-nickname">{{ user.nickname }}</div>
                        {% else %}
                        <div class="profile-nickname">Не установлен</div>
                        {% endif %}
                        <div>{{ user.money }} $</div>
                        <div>{{ user.coins }} SC</div>
                    </div>
                </div>
            </div>
            <div class="row container-wrapper">
                <div class="col container-bg deposit-bg">
                    {% if not user.is_active %}
                    <p>Сначала привяжите свой аккаунт.</p>
                    {% elif bot_status.value %}
                    <div onclick="setIpField('{{ found_ip }}')" class="found-ip">Найден IP [{{ found_ip }}]. Указать?</div>
                    <form id="clear-rakbot-form" onsubmit="submitClearRakBotForm(event)">
                        {% csrf_token %}
                        {{ clear_account_from_rakbot_form.ip }}
                        <input id="clear-rakbot-form-button" type="submit" value="Снять ракбота">
                    </form>
                    <div style="margin-top: 10px;">
                        Как работает система: <br>
                        • Ставите аккаунт на подключение <br>
                        • Вводите свой IP адрес (можно вставить нажав на текст с ИП) <br>
                        • Нажимаете "Снять ракбота" <br>
                        • Пробуете подключаться к серверу, желательно поставить автореконнект <br>
                        • Если после 2 минут подключиться не удалось, то можете повторять процесс <br>
                        <b>Если вы попытались несколько раз и не помогло, то отпишите руководству сервера. Опишите процесс, что вы делали.</b>
                    </div>
                    {% else %}
                    <p>На данный момент CyberSedona не на сервере. Попробуйте позже.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row container-wrapper">
                <div class="col container-bg deposit-bg">
                    {% if not user.is_active %}
                    <p>Зайдите в игру, после чего укажите свой никнейм.</p>
                    <form action="connect" method="post" id="nickname-form">
                        {% csrf_token %}
                        {{ connect_account_form.nickname }}
                        <input id="nickname-form-button" type="submit" value="Привязать">
                    </form>
                    <form action="connect/code" method="post" id="code-form" class="d-none">
                        {% csrf_token %}
                        {{ input_account_code_form.code }}
                        <input id="code-form-button" type="submit" value="Подтвердить">
                    </form>
                    {% else %}
                    <p class="fw-bold">Пополнение виртов на данный момент не работает.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row container-wrapper">
                <div data-simplebar class="col container-bg deposit-history">
                    <table class="table">
                        <thead>
                            <th>Лог пополнений</th>
                        </thead>
                        <tbody>
                            {% if deposit_history %}
                            {% for deposit in deposit_history %}
                            <tr>
                                <td>{{ deposit.string }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>Что-то тут пусто...</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-12 container-wrapper">
            <div class="container-bg">
                <div data-simplebar class="purchase-history">
                    <table class="table">
                        <thead>
                            <th>Дата</th>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Статус</th>
                        </thead>
                        <tbody>
                            {% if purchase_history %}
                            {% for purchase in purchase_history %}
                            <tr>
                                <td>{{ purchase.time|date:'Y-m-d H:i:s' }}</td>
                                <td>{{ purchase.product }}</td>
                                <td>{{ purchase.price }} <small>{{ purchase.currency }}</small></td>
                                {% if purchase.delivered %}
                                <td>✔ Выдано</td>
                                {% else %}
                                <td>✘ В ожидании</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="100%">Ты еще ничего не покупал 0_0</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/account.js'%}"></script>
{% endblock %}