{% extends 'layout.html' %}
{% load static %}
{% block title %}Админшоп{% endblock %}

{% block content %}
<div class="container m-auto mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col container-bg product-card">
            <img class="product-card__image" src="{{ product.photo.url }}" alt="">
            <div class="product-card__content">
                <div class="product-card__title">{{ product }}</div>
                <a href="buy/{{ product.id }}" class="product-card__buy">
                    {{ product.price }}<small>{{ product.currency}}</small>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}